<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
   
    <form action="/users/register" , method="POST">
        <div>
            <label for="email">Email</label>
            <input type="email" , name="email", placeholder="Enter Your Email" , id="email" >
        </div>
        <br>
        <div>
            <label for="name">Name</label>
            <input type="text" , name="name", placeholder="Enter Your Name" , id="name" >
        </div>
        <br>
        <div>
            <label for="password">Password</label>
            <input type="password" , name="password" , placeholder="Enter Your password" , id="password">
        </div>
        <br>
        <div>
            <label for="password2">Repeat Passport</label>
            <input type="password" , name="password2" ,  placeholder="re enter your password" , id="password2">
        </div>
        <br>
        <div>
            <input type="submit" , value="Register" , id="btn">
        </div>
        <div>
            <%= errormessage %>
        </div>
    </form>

    
</body>
</html>