<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WelcomePage</title>
</head>
<body>
    <a href="/users/login"> <input type="button" , value="login"> </a>
    <br>
    <a href="/users/register"><input type="button" , value="register"></a>
</body>
</html>